body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Quicksand" ,"Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background : #333;
  color : whitesmoke;
}

code {
  font-family: "Quicksand",source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: #000;
  color : whitesmoke;
  margin: 1px;
}